# FastAPI Environment
ENVIRONMENT=development
PORT=8000

# Google Gemini
GEMINI_API_KEY=AIzaSyDsnFfN-TD2WtPvkblvdHPIcdQpUJR4f0s

# .NET Backend
BACKEND_BASE_URL=https://universitymanagementsystem-production-e58e.up.railway.app
